.categories{
    background-color: #7495DF;
    min-height: 100vh;
    padding: 10% 15%;
    line-height:2em;

    .categories-title{
        margin-bottom: 1rem;
    }

    .categories-elements{

        ul li{
            cursor: pointer;
        }
    }
}

.products-gallery{
    
   background-color:#A1E8E8 ;
   padding: 2rem 5%;

   .product{
        
        border: 3px solid black;
        padding: 1rem;
        margin-bottom: 2rem;
        min-height: 35vh;

        .product-description{
            min-height: 10vh;
            padding: 5% 0%;
        }

        
        .product-price {

            span{
                font-weight: 600;
                font-size: 2.2em;
            }
        }
    }
}





