.banner-titulo{
    position:absolute;
    top: 16%;
    left:2%;
    font-size:2em;   
}
    
.banner-boton{
    position:absolute;
    top:23%;
    left:2%;
    font-size:1.5em;
}

.boxes{
    padding:5% 3%;
}

.box{
    background-color:#A1E8E8;
    text-align: center;
    line-height:1.5em ;
}

.info {
    padding: 5% 6%;
    line-height: 1.5em;
}

.info-button{
    padding-top: 5%;
    font-size: 1.5em;
}



.info-image{
    padding-left: 20%;
}


.footer{
    background-color:#A1E8E8;
    padding: 2rem;
}

.social-media img{
    width:25%;
    margin-left: 70%;

}




