.carrito{
    background-color:#7495DF;
    min-height: 80vh;
    padding: 0 10%;
    width: 82%;
}

.carrito-title{
    h2{
        font-size: 2rem;
        color: rgb(0, 0, 0);
        text-align: center;
        margin-bottom: 1rem;
    }
    
}

.carrito-items{
    table{
        
        width: 100%;
        font-size: 1rem;
        
       

        img{
            width: 5rem;
        }

        td{
            text-align: center;
            color: rgb(0, 0, 0);
            padding: 1.2rem 2.5rem;
        }

        input{
            width: 1rem;
        }
        

        th{
            color: rgb(0, 0, 0);
            padding: 1rem 2rem;
            border-bottom: 1px solid rgb(0, 0, 0);
        }
   
    }
}

.carrito-resume{
    width: 30%;
    margin-left: auto;
    table{
        width: 100%;
        font-size: 1rem;
        border: 1px solid hsl(0, 0%, 0%);
        margin-top: 2rem;
        th{
            color: #000000;
            padding: 0.5rem 1rem;
            border: 1px solid hsl(0, 0%, 0%);
            background-color:#A1E8E8;
            color: black;
            font-size: 1.5rem;
        }

        td{
            text-align: center;
            color: rgb(0, 0, 0);
            padding: 1rem 2rem;
        }
    }

    .carrito-resume-total{
        border-top: 1px solid rgb(0, 0, 0);
    }

    .carrito-resume-buttons{
        display: flex;
        justify-content: space-between;
        margin-top: 1rem;
        
     
    }

}
