.contact{

    background-color:#A1E8E8;
    min-height: 75vh;

    .contact-titulo{
        
        padding: 2rem 0;
        text-align: center;
    
        h2{
            font-size: 2rem;
        }
    }

    .contact-options{

        padding: 2rem 10%;
        width: 80%;

        .contact-informacion-text{

            margin-bottom: 1rem;

            svg{
                margin-right: 2rem;
                width: 2rem;
            }

            span{
                font-size: 1.5rem;
            }
        }
    }
}





