

.product{
    padding: 2rem 5%;

    .product-image{
        margin-bottom: 2rem;
    }

    .product-content{

        padding: 1% 5%;

        
        .product-title{
            margin-bottom: 5%;
        }

        .product-button-one{
            display: flex;
            margin-left: 5%;
            margin-bottom:3%;
        }

        .product-quantity{
            display: flex;
            padding: 5% 0;
            
        }


        
    }
}

.product.button.two{
    margin-top: 5%;
}

.product-description ul li{
    margin-bottom: 5%;

}



.tabMenu{
    display: flex;
    justify-content:space-between;


    button{
        padding: 3% ;
    }


}








   
.tabs {
    display: flex;

    .tab {
        cursor: pointer;
        display: block;
        position: relative;
        top: 5px;
        padding: 10px 25px;
        background:#A1E8E8;
        

        &.active{
            background-color: white;
           
        }  
    }
}

   
   

  















