



h2{
    text-align: center;
    margin-bottom:3%;
    color:#A1E8E8;
    background-color: black;
    
}

.faq-main {
  width: 400px;
  margin: auto;
}


.faq-answer p {
  margin: 5px;
  padding: 10px;
  background:#7495DF;
  border-radius: 10px;
}


.faq {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  background:#A1E8E8;
  border-radius: 10px;
}

.faq-question p {
  margin: 5px;
  font-family: Verdana;
  font-size: 20px;
}



.faq:hover {
  cursor: pointer;
}

.faq-answer {
  display: none;
}

.faq.active .faq-answer {
  display: block;
}


.social-media img {
  width: 20%;
  margin-left: 80%;
}





.faq-stick {


  :active svg{

    transform:rotate(100deg);

  }
}
