
.cabecera{
    padding: 5% 0% 5% 0;
}

.banner{
    justify-content: space-between;
}


.banner-titulo{
    padding: 5% 10% 5% 0;

    h5{
        font-size: 1em;
        margin-left: 10%;
    }
   
}


.banner-boton{
    margin-right: 10%;
    text-align: center;
    font-size: 1.5em;
}

.boxes{
    width: 80%;
   
    padding:5% 3% 5%;
    

    .box{
        box-shadow: 0px 0px 10px 0px #333 inset;
        margin-bottom: 1.5rem;
        text-align: center;
        margin-left: 13%;
    }

    .box-description{
        line-height:2em;
        
    }
}

.info{
    background-color: hsl(0, 0%, 100%);
    padding: 2rem 5%;

    .info-button{
    padding:5% 15% 5% 5%;        
      
        
    }

    h3{
        padding:10%
        
    }
}

.social-media{
    width: 40%;
    padding:5% 8% 5% 10%;
}


.text-footer{
    padding: 0 8% 5% 10%;
}


.menu-hamburger-button{
    position: absolute;
    margin-left: 35%;
   
  
}








































/*



.banner-titulo{
    position:absolute;
    top: 16%;
    left:2%;
    font-size:2em;   
 
}
    
.banner-boton{
    position:absolute;
    top:23%;
    left:2%;
    font-size:1.5em;
}


.banner-imagen img{
    
  margin-top: 0.5%;

}

.boxes{
    padding: 5% 2%;
    background-color:#7495DF ;

}

.box{
    background-color:#A1E8E8;
    text-align: center;
    line-height:1.5em ;
}

.info{
    background-color: hsl(0, 0%, 100%);
    padding: 2rem 10%;
}

.info-text {
    line-height: 1.5em;
 
}

.info-button{
    padding-top: 5%;
    font-size: 1.5em;
}

.footer{
    background-color:#A1E8E8;
    padding: 2rem;
    display:flex;
}

.social-media img{
    width:50%;
    margin-left: 60%;
    margin-top: 50%;
}


*/