.banner-titulo{
   
  width: 20%;
    left:2%;
    font-size:2em;   
}
    
.banner-boton{
    position:absolute;
    top:23%;
    left:2%;
    font-size:1.5em;
}


.banner-imagen img{
    
  margin-top: 0.5%;

}

.boxes{
    padding: 5% 2%;
    background-color:#7495DF ;

}

.box{
    background-color:#A1E8E8;
    text-align: center;
    line-height:1.5em ;
}

.info{
    background-color: hsl(0, 0%, 100%);
    padding: 2rem 10%;
}

.info-text {
    line-height: 1.5em;
 
}

.info-button{
    padding-top: 5%;
    font-size: 1.5em;
}

.footer{
    background-color:#A1E8E8;
    padding: 2rem;
    display:flex;
}

.social-media img{
    width:25%;
    margin-left: 70%;
}


