.banner-titulo{
    padding: 7% 5%;

    h5{
        font-size: 1.5em;
    }
   
}

.banner-boton{
    padding: 5% 5%;
    text-align: center;
    font-size: 1.5em;
}

.boxes{
    width: 80%;
    justify-content: space-between;
    padding: 0 10%;
    margin-bottom: 2rem;

    .box{
        box-shadow: 0px 0px 10px 0px #333 inset;
        margin-bottom: 5rem;
        text-align: center;
    }

    .box-description{
        line-height:2em;
        
    }
}

.info{
    background-color: hsl(0, 0%, 100%);
    justify-content: space-between;
    padding: 2rem 10%;

    .info-button{
        padding: 15%;
    }
}

.social-media{
    width: 40%;
}



































/*



.banner-titulo{
    position:absolute;
    top: 16%;
    left:2%;
    font-size:2em;   
 
}
    
.banner-boton{
    position:absolute;
    top:23%;
    left:2%;
    font-size:1.5em;
}


.banner-imagen img{
    
  margin-top: 0.5%;

}

.boxes{
    padding: 5% 2%;
    background-color:#7495DF ;

}

.box{
    background-color:#A1E8E8;
    text-align: center;
    line-height:1.5em ;
}

.info{
    background-color: hsl(0, 0%, 100%);
    padding: 2rem 10%;
}

.info-text {
    line-height: 1.5em;
 
}

.info-button{
    padding-top: 5%;
    font-size: 1.5em;
}

.footer{
    background-color:#A1E8E8;
    padding: 2rem;
    display:flex;
}

.social-media img{
    width:50%;
    margin-left: 60%;
    margin-top: 50%;
}


*/