.filters{
    width: 100%;
    background-color:#A1E8E8;
    text-align: center;
    svg{
        margin-top: 2rem;
        width: 2rem;
        color: hsl(0, 0%, 0%);
    }
}

.menu{
    padding-left: 70%;
    padding-top: 0.5rem;
}

.panel{
    
    background-color:#7495DF;
    padding: 5% 5% 5% 10%;
    
  
}

.panel-table{
    color: rgb(0, 0, 0);
    padding:12% 0 5% 0;
    
    table{
        text-align: center;
        width: 90%;
        
        th{
            border-bottom: 1px solid rgb(0, 0, 0);
            font-size: 1.5rem;
        }
        td{
            padding-top: 1rem;
         
        }
    }
}

.panel-button-table{
    cursor: pointer;
    svg{
        color: rgb(255, 255, 255);
        width: 1.5rem;
    }
}



.form-element-label{
    padding: 5% 0 0.7% 0;
    font-weight: 600;
}


.panel-form-buttons{
    width:28%;
}

.material-designs{

	display:flex;
	margin-left: 90%;
	justify-content: space-evenly;
    background-color:#A1E8E8;
    
}




///////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////






















