header{

    .cabecera-logo{
        display: flex; 
    }

    .cabecera-logo-imagen svg{
        width: 5rem;

        .st0{
            fill:none;
        }

        .st1{
            fill:none;
            stroke:url(#SVGID_1_);
            stroke-width: 2.5;
            stroke-linejoin: round;
            stroke-miterlimit: 10;
        }
    }

    .cabecera-logo-titulo{
        padding: 5% 5%;
    }

    .cabecera-menu-mobile{
        background-color: hsl(0, 0%, 100%);
        height: 100vh;
        left: 0;
        position: fixed;
        top: -100vh;
        transition: top 0.5s;
        width: 100%;
        line-height: 3em;
        text-align: center;

        &.active{
            top: 0;
            transition: top 2s;
        }
    }

    .cabecera-menu ul{
        padding: 3% 3%; 
    }

    .cabecera-principal-boton-menu{
        width:10%;
        margin-top:6%;
    }


    .menu-hamburger-button-svg {

        fill:rgb(0, 0, 0);
        pointer-events:all; //needs to be there so the hover works
        cursor:pointer;
        
        
     
     

        .bar {
            -webkit-transform:rotate(0) translateY(0) translateX(0);
            transform:rotate(0) translateY(0) translateX(0);
            opacity:1;
            -webkit-transform-origin: 20px 10px;
            transform-origin: 20px 10px;
            -webkit-transition: -webkit-transform 0.4s ease-in-out, opacity 0.2s ease-in-out;
            transition: transform 0.4s ease-in-out, opacity 0.2s ease-in-out;
        }

        .bar:nth-of-type(1) {
            -webkit-transform-origin: 20px 10px;
            transform-origin: 20px 10px;
        }

        .bar:nth-of-type(3) {
            -webkit-transform-origin: 20px 20px;
            transform-origin: 20px 20px;
        }
    }
    
    .menu-hamburger-button-svg.active {
    
        .bar:nth-of-type(1) {
            -webkit-transform:rotate(-45deg) translateY(0) translateX(0);
            transform:rotate(-45deg) translateY(0) translateX(0);
        }
    
        .bar:nth-of-type(2) {
            opacity:0;
        }
    
        .bar:nth-of-type(3) {
    
            -webkit-transform:rotate(45deg) translateY(0em) translateX(0em);
            transform:rotate(45deg) translateY(0em) translateX(0em);
    
        }
    }
}


.menu-hamburger-button svg{
    width:5em;
    padding:1em 1em 1em 8em ;
   


.cabecera-menu-mobile mobile-only active ul{
    ;
    
    
    
}
}



